/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: var(--main-tekst-size);
  font-family: var(--main-font-family);
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
}

.header-logo {
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%; 
}

.header-text {
  background-color: var(--accent-color);
}

.header-paragraph {
  color: var(--main-paragraph-color);
  text-align: left;
  font-weight: 700;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: outline;
  cursor: pointer;
}


